.statistics-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.statistics-container h2 {
  margin-bottom: 20px;
}

#chart, #userChart {
  max-width: 650px;
  margin: 0 auto;
}
