.o{
  color: #272524;
  font-weight: bold;
  border: #b36a67;
  background-color: #d49694;
  border-radius: 10px;
}
.i{
  font-weight: bold;
  background-color:rgb(245, 215, 173);
  border-radius: 10px;


}
