<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
<header>
    <div class="section__container header__container">
      <div class="header__image">
        <img src="assets/zd.jpg" alt="header" width="1800px" height="400px"/>
        <img src="assets/pp.jpg" alt="header" />
      </div>
      <div class="header__content">
        <div>
          <p> Bonsoir👋</p>
          <h2>Demander vos stages maintenant</h2>
          <p>
            Étudiants en quête d'un stage professionnel ? Nous sommes prêts à vous accompagner !<div class="action__btns">
            <a href="http://www.cni.tn/index.php/fr/">
              <button class="sign-btn">Rejoignez-nous</button>
          </a>
                    </div>
        </div>
      </div>
    </div>
  </header>
