<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<main>
    
    <div class="container">
        <h3 class="card-title"></h3>
        <div class="row">
            <div class="col-md-12">
                <div class="main-timeline2">
                    <div class="timeline">
                        <a href="#" class="timeline-content">
                            <span class="year">2018</span>
                            <div class="inner-content">
                                <h3 class="title">Maîtrise d'ouvrage</h3>
                                <p class="description">
                                   <li>Maîtrise d’ouvrage déléguée et Pilotage de projet.</li>
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="timeline">
                        <a href="#" class="timeline-content">
                            <span class="year">2017</span>
                            <div class="inner-content">
                                <h3 class="title">Système d'informations</h3>
                                <p class="description">
                                  <li>Audit de système d’information </li>
                                  <li>Etude d’opportunité, Etude préalable, Etude organisationnelle </li>
                                  <li>Elaboration de Schémas Directeurs Informatiques, de termes de référence, de cahiers des charges et de plans d’actions</li>
                                  <li>Assistance au dépouillement des offres.</li>
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="timeline">
                        <a href="#" class="timeline-content">
                            <span class="year">2016</span>
                            <div class="inner-content">
                                <h3 class="title">Réseaux</h3>
                                <p class="description">
                                  <li> Etude Réseaux et sécurité;</li>
                                  <li>Assistance à la réception et à l’installation de réseaux</li>
                                  <li>Elaboration des Cahiers des charges réseaux et sécurité</li>
                                  <li>Assistance au dépouillement</li>
                                  <li>Conseils et avis techniques</li>
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="timeline">
                        <a href="#" class="timeline-content">
                            <span class="year">2015</span>
                            <div class="inner-content">
                                <h3 class="title">Développement</h3>
                                <p class="description">
                                    <li> Développement et Maintenance des systèmes d’Information </li>
                                    <li>Formation sur les SI développés par le CNI.</li>
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h3 class="card-title"></h3>
        <div class="row">
            <div class="col-md-12">
                <div class="main-timeline4">
                    <div class="timeline">
                        <span class="timeline-icon"></span>
                        <span class="year">Formations & Certifications </span>
                        <div class="timeline-content">
                            <h3 class="title"></h3>
                            <p class="description">
                            <li> Formation sur les applications nationales </li>

                            <li>Séminaires  d’expertise</li>

                             <li>Formation continue</li>

                              <li>Formation certifiante</li>

                              <li> Stage et initiation à la vie professionnelle </li>
                           </p>
                        </div>
                    </div>
                    <div class="timeline">
                        <span class="timeline-icon"></span>
                        <span class="year">Déploiement des Apps et assistance des users</span>
                        <div class="timeline-content">
                            <h3 class="title"></h3>
                            <p class="description">
                              <li>Le CNI déploie les applications développées pour le compte de l’administration en vue de leur exploitation.</li>

                              <li>Le déploiement des postes peut se faire sur site (chez le client) ou dans les locaux du cni.</li>

                              <li>Le cni met à la disposition des utilisateurs des assistants pour les accompagner et les initier à la bonne exploitation des ces applications</li>                        </p>
                        </div>
                    </div>
                    <div class="timeline">
                        <span class="timeline-icon"></span>
                        <span class="year">Backup et continuité d’activité</span>
                        <div class="timeline-content">
                            <h3 class="title"></h3>
                            <p class="description">
                              <li>Assurer la continuité de fonctionnement des applications nationales en cas  de sinistre</li>
                              <li>Assurer la continuité des services rendus aux utilisateurs</li>
                              <li> Assister d’autres institutions pour la mise en place de leurs solutions de backup</li>
                              <li>Héberger les plateformes de ses clients (services dédiés)</li>
                              <li> Diffuser le savoir faire en matière de backup et PCA.</li>
                              <li> Fournir les services de conseil pour l’élaboration de plans de continuité d’activité (PCA)</li>
                            </p>
                        </div>
                    </div>
                    <div class="timeline">
                        <span class="timeline-icon"></span>
                        <span class="year">Hébergement du système</span>
                        <div class="timeline-content">
                            <h3 class="title"></h3>
                            <p class="description">
                              <li>Hébergement des serveurs. </li>
                              <li>Hébergement des applications et des données avec ou sans exploitation.</li>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
