body {
  background-color: #e4ecf9;
  color: #333;
  font-family: cursive;
}

h2 {
  color: #2c3e50;
  font-weight: bold;
}

.search-container {
  display: flex;
  justify-content: center;
}

.input-group {
  width: 100%;
  max-width: 500px;
}

.input-group .form-control {
  border-radius: 50px 0 0 50px;
  border-right: none;
}

.input-group .btn {
  border-radius: 0 50px 50px 0;
  background-color: #2c3e50;
  color: white;
}

.card {
  border: none;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

.avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: auto;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
  color: #555;
}

.btn {
  transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
  transform: translateY(-2px);
}

.btn-primary {
  background-color: #3498db;
  border-color: #3498db;
}

.btn-warning {
  background-color: #f1c40f;
  border-color: #f1c40f;
}
