<nav class="navbar">
  <div class="navbar-container container">
      <div class="flex-container">  <!-- Nouveau conteneur -->
          <ul class="menu-items">   <!-- Menu centré -->
              <li><a href="accueil">Accueil</a></li>
              <li><a routerLink="/apropos">A propos </a></li>
              <li><a href="/howitwork">Nos services</a></li>
              <li><a href="http://www.cni.tn/index.php/fr/contact-suggestion-2">Contactez-nous</a></li>
          </ul>
      </div>
      <div class="logo" style="display: inline-block; vertical-align: middle;">
          <img src="assets/F5.png" height="80" width="110" alt="Avatar" class="avatar">
         </div>
      <button routerLink="/connexion" class="sign-btn">CONNEXION</button>
  </div>
</nav>
