<h1>Voici nos Services</h1>
<h2>Choississez ce que vous avez besoin</h2>
<div>
    <button class="btn" routerLink="/listApi"> La liste des APIs disponible </button>
    <button class="btn" routerLink="/apropos">A propos l'historique de l'ONI</button>
    <button class="btn" routerLink="/inscription">S'inscrire</button>
    <button class="btn" routerLink="/connexion">Se connecter</button>
    <button class="btn" routerLink="/ajouterDemande"> Demander Api</button>
    <button class="btn" routerLink="/modifierDemande/:id"> Modifier Demande</button>
    <button class="btn" routerLink="/listDemande"> Listes des Demandes</button>

    <button class="btn" routerLink="/Api"> Ajouter Api</button>
    <button class="btn" routerLink="/modifierApi/:idApi"> Modifier Api</button>
    <button class="btn" routerLink="/listApi"> list des Apis</button>

    <button class="btn" routerLink="/ajouterUser"> Ajouter User</button>
    <button class="btn" routerLink="/modifierUser/:id"> Modifier User</button>
    <button class="btn" routerLink="/listUser"> list des Users</button>

    <button class="btn" routerLink="/ajouterProfil"> Ajouter Profil</button>
    <button class="btn" routerLink="/modifierProfil/:id"> Modifier Profil</button>


    <button class="btn" routerLink="/ajouterStructure"> Ajouter Structure </button>
    <button class="btn" routerLink="/modifierStructure/:id"> Modifier Structure</button>
    <button class="btn" routerLink="/listStructure"> List  Structure</button>


    <button class="btn" routerLink="/ajouterStatus"> Ajouter Status </button>
    <button class="btn" routerLink="/modifierStatus/:id"> Modifier Status</button>
    <button class="btn" routerLink="/listStatus"> List Status</button>



</div>
