<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Liste des Utilisateurs</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <br><br>
  <h1><i class="fa fa-users"></i> Liste des utilisateurs</h1>
  <button class="btn btn-warning " type="button" [routerLink]="['/ajouterUser']">
      <i class="fa fa-plus"></i> Ajouter utilisateur
  </button>
  <div class="row mt-3">
    <div class="col-md-3">
      <select [(ngModel)]="selectedProfile" class="form-select me-2">
        <option *ngFor="let profile of profileOptions" [value]="profile">{{ profile }}</option>
      </select>
    </div>
    <div class="col-md-9 d-flex justify-content-end align-items-center">
      <button class="btn btn-danger btn-sm me-2" (click)="filtrerUser()">
        <i class="fa fa-filter"></i> Trier
      </button>
      <input type="text" id="searchInput" [(ngModel)]="searchKeyword" class="form-control" placeholder="Rechercher..." />
      <button class="btn btn-warning search-button btn-sm" (click)="RechercherUser()">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let user of (searchResults.length ? searchResults : users); let i = index">
      <div class="card user-card" [ngStyle]="{'background-color': userColors[i % userColors.length]}">
        <div class="card-block">
          <img [src]="avatars[i % avatars.length]" width="110" height="110" class="rounded-circle shadow p-1 bg-white" alt="">
          <h4 class="f-w-600 m-t-25 m-b-10">{{user.nom}} {{user.prenom}}</h4>
          <p>Son identifiant est : {{user.idUser}}</p>
          <p class="text-muted">{{user.email}} | {{user.mobile}} || <br> N° CIN : {{user.cin}}</p>
          <div class="counter-block m-t-10 p-20">
            <div class="row">
              <div class="col-md-4" [ngStyle]="{'background-color': userContainerColors[i % userContainerColors.length]}">
                <i class="fa fa-user" [style.color]="userIconColors[i % userIconColors.length]"></i>
                <br> {{user.nom}}
              </div>
              <div class="col-md-4" [ngStyle]="{'background-color': userContainerColors[i % userContainerColors.length]}">
                <i class="fa fa-phone" [style.color]="userIconColors[i % userIconColors.length]"></i>
                <br> {{user.mobile}}
              </div>
              
            </div>
          </div>
          <p class="m-t-15 text-muted">{{user.nom}} {{user.prenom}}. Tu peux le contacter sur le {{user.mobile}} ou bien via Email {{user.email}}</p>
          <hr>
          <div class="row justify-content-center user-social-link">
            <div class="col-auto"><a href="https://www.skype.com"><i class="fa fa-skype text-skype" [style.color]="userIconColors[i % userIconColors.length]"></i></a></div>
            <div class="col-auto"><a href="https://www.gmail.com"><i class="fa fa-envelope text-gmail" [style.color]="userIconColors[i % userIconColors.length]"></i></a></div>
            <div class="col-auto"><a href="https://www.linkedIn.com"><i class="fa fa-linkedin text-linkedin" [style.color]="userIconColors[i % userIconColors.length]"></i></a></div>
          </div>
          <hr>
          <div class="btn-group align-top">
            <i class="fa fa-pencil" style="color: #007bff;" (click)="modifierProfil(user.idUser)"></i>
            <i class="fa fa-trash" style="color: #dc3545;" (click)="supprimerUser(user.idUser)"></i>
            <i class="fa fa-info-circle" style="color: #28a745;" (click)="detailUser(user.idUser)"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" role="dialog" tabindex="-1" id="user-form-modal" aria-labelledby="user-form-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title"><i class="fa fa-user-plus"></i> Créer un nouvel utilisateur</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="py-1">
          <form [formGroup]="userForm">
            <!-- Form Fields -->
            <div class="row mb-3">
              <div class="col">
                <div class="form-group">
                  <label for="nom"><i class="fa fa-user"></i> Nom</label>
                  <input class="form-control" type="text" id="nom" formControlName="nom" required
                  [ngClass]="{'is-invalid': userForm.get('nom').invalid && userForm.get('nom').touched}">
                  <div *ngIf="userForm.get('nom').invalid && userForm.get('nom').touched" class="invalid-feedback">
                    <h6>Le nom ne doit pas être vide, il doit contenir au minimum 3 caractères.</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col">
                <div class="form-group">
                  <label for="prenom"><i class="fa fa-user"></i> Prénom</label>
                  <input class="form-control" type="text" id="prenom" formControlName="prenom" required
                  [ngClass]="{'is-invalid': userForm.get('prenom').invalid && userForm.get('prenom').touched}">
                  <div *ngIf="userForm.get('prenom').invalid && userForm.get('prenom').touched" class="invalid-feedback">
                    <h6>Le prénom ne doit pas être vide, il doit contenir au minimum 3 caractères.</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col">
                <div class="form-group">
                  <label for="email"><i class="fa fa-envelope"></i> Email</label>
                  <input class="form-control" type="email" id="email" formControlName="email" required
                  [ngClass]="{'is-invalid': userForm.get('email').invalid && userForm.get('email').touched}">
                  <div *ngIf="userForm.get('email').invalid && userForm.get('email').touched" class="invalid-feedback">
                    <h6>Un email valide est requis.</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col">
                <div class="form-group">
                  <label for="password"><i class="fa fa-lock"></i> Mot de passe</label>
                  <input class="form-control" type="password" id="password" formControlName="password" required
                  [ngClass]="{'is-invalid': userForm.get('password').invalid && userForm.get('password').touched}">
                  <div *ngIf="userForm.get('password').invalid && userForm.get('password').touched" class="invalid-feedback">
                    <h6>Un mot de passe est requis.</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col">
                <div class="form-group">
                  <label for="cin"><i class="fa fa-id-card"></i> CIN</label>
                  <input class="form-control" type="text" id="cin" formControlName="cin" required
                  [ngClass]="{'is-invalid': userForm.get('cin').invalid && userForm.get('cin').touched}">
                  <div *ngIf="userForm.get('cin').invalid && userForm.get('cin').touched" class="invalid-feedback">
                    <h6>Le CIN est requis, il doit contenir au minimum 8 chiffres.</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col">
                <div class="form-group">
                  <label for="profile"><i class="fa fa-users"></i> Profil</label>
                  <select class="form-control" id="profile" name="profile" formControlName="profile" required
                  [ngClass]="{'is-invalid': userForm.get('profile').invalid && userForm.get('profile').touched}">
                    <option value="admin">Admin</option>
                    <option value="encadrant">Encadrant</option>
                    <option value="stagiaire">Stagiaire</option>
                  </select>
                  <div *ngIf="userForm.get('profile').invalid && userForm.get('profile').touched" class="invalid-feedback">
                    <h6>Le profil est requis.</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col">
                <div class="form-group">
                  <label for="mobile"><i class="fa fa-mobile"></i> Mobile</label>
                  <input class="form-control" type="text" id="mobile" formControlName="mobile" required
                  [ngClass]="{'is-invalid': userForm.get('mobile').invalid && userForm.get('mobile').touched}">
                  <div *ngIf="userForm.get('mobile').invalid && userForm.get('mobile').touched" class="invalid-feedback">
                    <h6>Le mobile est requis, il doit contenir au minimum 8 chiffres.</h6>
                  </div>
                </div>
              </div>
            </div>
         


            <div class="row">
              <div class="col-12">
                <br>
                <div class="d-flex justify-content-center">
                  <button type="button" (click)="onAjouter()" class="btn btn-primary me-2" [disabled]="!userForm.valid">
                    <i class="fa fa-plus-circle"></i> Enregistrer Utilisateur
                  </button>

                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</body>
</html>
