<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<footer class="bg-dark-gradient footer">
    <div class="footer-top">
        <div class="container">
            <div class="footer-border-bottom pb-6 mb-5">
                <div class="row">
                    <div class="col-lg-4 col-xl-3">
                        <h4 class="text-white">
                        </h4>
                    </div>
                    <div class="col-lg-4 col-xl-6">
                        <form class="d-flex flex-row mb-2 p-1 bg-white input-group">
                            <input type="email" class="form-control rounded-0 border-0" placeholder="you@yoursite.com">
                            <button class="btn btn-secondary rounded-0 flex-shrink-0" type="submit">Subscribe</button>
                        </form>
                    </div>
                    <div class="col-lg-4 col-xl-3">
                        <div class="text-lg-end text-white">
                            <span class="h6">Contactez-nous</span><br>
                            <span class="h3">+216 71 78 30 55</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-3 my-4">
                    <div class="mb-4">
                        <img src="static/img/logo-light.svg" title="" alt="">
                    </div>
                    <div class="text-white-65 mb-4 text-white">Centre National de l'Informatique, 17 Rue Belhassen Ben Chaabane, 1005 El-Omrane, Tunis, Tunisie.</div>
                    <div class="nav footer-social-icon">
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2 my-4">
                    <h5 class="text-white h6 mb-4">Client</h5>
                    <ul class="list-unstyled white-link footer-links">
                        <li>
                            <a href="#">Obtenir Corpo</a>
                        </li>
                        <li>
                            <a href="#">Documentation</a>
                        </li>
                        <li>
                            <a href="#">Centre d'aide</a>
                        </li>
                        <li>
                            <a href="#">Tarification</a>
                        </li>
                        <li>
                            <a href="#">Contactez-nous</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-2 my-4">
                    <h5 class="text-white h6 mb-4">Produit</h5>
                    <ul class="list-unstyled white-link footer-links">
                        <li>
                            <a href="#">Portfolio</a>
                        </li>
                        <li>
                            <a href="#">Blog</a>
                        </li>
                        <li>
                            <a href="#">Rejoignez notre équipe</a>
                        </li>
                        <li>
                            <a href="#">Éléments</a>
                        </li>
                        <li>
                            <a href="#">Produits</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-2 my-4">
                    <h5 class="text-white h6 mb-4">Entreprise</h5>
                    <ul class="list-unstyled white-link footer-links">
                        <li>
                            <a href="#">À propos</a>
                        </li>
                        <li>
                            <a href="#">Carrières</a>
                        </li>
                        <li>
                            <a href="#">Légal & Sécurité</a>
                        </li>
                        <li>
                            <a href="#">Conditions d'utilisation</a>
                        </li>
                        <li>
                            <a href="#">Nous recrutons !</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-3 my-4">
                    <h5 class="text-white h6 mb-4">Actualité</h5>
                    <div class="white-link">
                        <div class="d-flex pb-3">
                            <div class="avatar avatar-lg rounded">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" title="" alt="">
                            </div>
                            <div class="col ps-3">
                                <small class="text-white-65">29 Mars 2021</small>
                                <h6 class="font-w-500 h6 m-0"><a class="text-white" href="#">Article de blog exemple sur le langage Markdown</a></h6>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="avatar avatar-lg rounded">
                                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" title="" alt="">
                            </div>
                            <div class="col ps-3">
                                <small class="text-white-65">14 Juin 2024</small>
                                <h6 class="font-w-500 h6 m-0"><a class="text-white" href="#">Article de blog exemple sur le langage Markdown</a></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom footer-border-top light py-3">
        <div class="container text-center">
            <p class="m-0">© 2024 droits réservés <a href="#" class="text-reset text-white"></a></p>
        </div>
    </div>
</footer>
